@inherits LayoutComponentBase

<PageTitle>BlazorGameDatabase</PageTitle>

<div class="page">
    <main>
        <BlazorGameDatabase.Components.SearchBar></BlazorGameDatabase.Components.SearchBar>
        @Body
    </main>
</div>
